.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  text-decoration: none;
  color: black;
  font-size: 3.5rem;
}

// .nav-logo {

//   .logo {
    
//   }
// }

// .main-page-logo {

//   .logo {

//   }
// }