.search {
  margin: 0;
  padding: 0;

  .nav-input {
    height: 2rem;
    width: 12rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    &:focus {
      outline: none;
    }
  }

  .main-page-input {
    // height: 4em;
    width: 15em;
    padding: 0.5rem 1rem;
    border-radius: 5em;
    text-align: center;
    font-size: 2rem;

    &:focus {
      outline: none;
    }
  }

  .main-page-input-label {
    position: absolute;
  }
}
